//  Fonts colors
$base-color-bold: #000000;
$base-color-reg: #333333;
$secondary-color: #898f89;

//Background
$base-background: #ffffff;
$btn-background: #000000;

//Fonts
$font: "Arial", "Helvetica", sans-serif;

// Breackpoints
$small-screen: 319px;
$mobile-width: 320px;
$tablet-width: 600px;
