.conditions-row {
  padding: 0 2px;

  text-align: left;
  background-color: #156417;
  &__link {
    text-decoration: underline;
  }
}

@media (max-width: $small-screen) {
  .conditions-row {
    padding: 0 2px;

    line-height: 8px;
  }
}

@media (min-width: 360px) and (min-height: 453px) {
  .conditions-row {
    padding: 0 5px;

    line-height: 12px;
  }
}

@media (min-width: 375px) and (min-height: 559px) {
  .conditions-row {
    padding: 0 5px;

    line-height: 10px;
  }
}

@media (min-width: 800px) and (min-height: 1280px) {
  .conditions-row {
    padding-bottom: 33px;

    font-size: 12px;
    line-height: 14px;
  }
}
