.menu-toggle {
  position: absolute;
  top: 5px;
  right: 20px;

  width: 30px;
  height: 20px;

  z-index: 10;

  background-color: #156417;
  border: none;
  outline: none;
  &__img {
    fill: #ffffff;
  }
}

@media (max-width: $small-screen) {
  .menu-toggle {
    top: 3px;
    right: 10px;

    width: 20px;
    height: 10px;
  }
}

@media (min-width: 360px) and (min-height: 520px) {
  .menu-toggle {
    top: 10px;
  }
}

@media (min-width: 375px) and (min-height: 559px) {
  .menu-toggle {
    top: 10px;
  }
}
